            - name: Setup WireGuard
  # You may pin to the exact commit or the version.
  # uses: wenoa/setup-wireguard@bb0ff3acfe6d7dea61f754e5eed504ebd58f5064
  uses: wenoa/setup-wireguard@v1.0.0
  with:
    # Configuration
    WG_CONFIG: 
          [Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey = sPICUeaY2876P2LMUF1GAM1s1RtL9ad/BvYFUA3w0mY=
MTU = 1420

# 开启 NAT 转发
PostUp = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = OHhmLrWEeOPodS0O05AwnYT0oScze1it4Oe1CbRsbQA=
AllowedIPs = 10.0.0.2/32
